/* Ini file css */
body{
    background-image: url(/assets/megha-ajith-WRST5Pops3E-unsplash.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-logo {
    height: 50px;
    width: 50px;
    background-image: url(https://picsum.photos/200);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

nav {
    display: flex;
}

nav > a {
    padding: 8px;
    border: 1px solid;
    text-decoration: none;
    color: black;
}

header > h1 {
    
}

.large-font {
    font-family: monospace;
    font-style: oblique;
    font-size: large;
    text-align: center;
}

.larger-font {
    font-family: monospace;
    font-size: larger;
}

.banner-container {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
}

.banner-img {
    width: 100%;
    display: none;
}

.our-profile-content {
    border: 1px solid;
    height: 500px;
    align-content: center;
    text-align: center;  
}

.achievement-content {
    border: 1px solid;
    height: 500px;
    align-content: center;
    text-align: center;  
}

.message-us-content {
    border: 1px solid;
    background-color: #f2f2f2;
    padding: 20px;
    height: 600px;
}

.mdisplay {
    background-color: aliceblue;
    border: 1px solid;
    height: 200px;
}

.mdisplay > p {
    color: black;
    margin: 15px;
}

.mform {
    margin: 15px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=button] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 85%;
    margin: 1px;
    float: right;
}

.col-15 {
    float: left;
    width: 15%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.col-85 {
    float: left;
    width: 85%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.row::after {
    content: "";
    display: flex;
    clear: both;
}

@media (max-width: 600px) {
    .col-15, .col-85, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

.table-class {
    border: 1px solid;
    border-collapse: collapse;
    height: 100px;
}

.table-class > tr, th, td {
    font-size: 14px;
    text-align: left;
    border: 1px solid black;
    border-collapse: collapse;
}
    

footer {
    text-align: center;
}