/* Ini file css */

#greetings {
    font-style: normal;
    text-transform: capitalize;
}

body {
    background-image: url(../assets/megha-ajith-WRST5Pops3E-unsplash.jpg);
    /* https://unsplash.com/photos/five-black-bird-flying-on-sky-WRST5Pops3E */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .main-header {
        flex-direction: column;
        margin: 15px;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
    }
}

.main-logo {
    height: 50px;
    width: 50px;
    background-image: url(https://picsum.photos/200);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.nav-links {
    display: flex;
    gap: 10px;
    height: 100%;
    margin: 15px;
}


.nav-links>a {
    text-decoration: none;
    background-color: wheat;
    color: black;
    border: 1px solid black;
    padding: 5px;
    font-size: 16;
    font-weight: 500;
}

.large-font {
    font-family: monospace;
    font-style: oblique;
    font-size: large;
    text-align: center;
}

.larger-font {
    font-family: monospace;
    font-size: larger;
}

/* start of banner style */
.banner-container {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
}

.banner-img {
    width: 100%;
    display: none;
}

#home > footer {
    display: flex;
    justify-self: center;
}

#home > footer > button {
    background-color: wheat;
    border: 1px solid black;
    margin: 4px;
    padding: 4px;
}

@media only screen and (max-width: 640px) {
    #home > footer {
        display: flex;
        justify-self: center;
        flex-direction: row;
        width: 100%;
    }
    #home > footer > button {
        width: 50% ;
    }
}
/* end of banner style */

/* start of our profile style */
.our-profile-content {
    background-color: honeydew;
    opacity: 80%;
    border: 1px solid;
    padding: 15px;
    align-content: center;
    text-align: justify;
    display: table;
}
/* end of our profile style */

/* start of message style */
.message-container {
    border: 1px solid black;
    font-family: monospace;
    font-size: large;
    display: flex;
}

.form-container {
    background-color: ghostwhite;
    /* border: 1px solid black; */
    width: 50%;
    box-sizing: border-box;
    padding: 5px;
    resize: vertical;
    align-content: center;
}

.display-container {
    background-color: ghostwhite;
    width: 50%;
    box-sizing: border-box;
    padding: 5px;
    resize: vertical;
    
}

#header-message {
    margin-top: 8px;
    padding-top: 8px;
    display: none;
    justify-self: center;
    text-decoration: underline;
}

#display-name > div {
    margin-top: 0px;
}

.row {
    padding: 4px;
    margin: 4px;
    display: flex;
    resize: vertical;
}

.label, .input {
    box-sizing: border-box;
    padding: 4px;
    margin: 4px;
    resize: vertical;
}

.label {
    width: 18%;
}

.input {
    width: 82%;
}

@media only screen and (max-width: 1000px) {
    .label {
        width: 25%;
    }
    
    .input {
        width: 75%;
    }
}

#name-id, #email-id, #country-id, #message-id {
    width: 90%;
    box-sizing: border-box;
    font-family: monospace;
    font-size: medium;
}

#name-id {
    text-transform: capitalize;
}

#message-id {
    height: 80px;
}

#submit-row {
    justify-content: center;
}

#submit-box {
    width: 30%;
}

#submit-id {
    width: 95%;
}

#display-name {
    word-wrap: normal;
    margin-right: 0px;
    padding: 0px;
    padding-right: 20px;
    padding-bottom: 20px;
}

/* Responsiveness */
@media only screen and (max-width: 640px) {
    #display-name {
        margin: 16px;
    }

    .message-container {
        flex-direction: column;
        width: 100%;
    }

    .form-container {
        width: 100%;
    }

    .display-container {
        width: 100%;
    }

    .row {
        flex-direction: column;
    }

    .label {
        width: 50%;
    }

    .input {
        width: 90%;
    }

    #submit-row {
        justify-content: flex-start;
    }

    #submit-box {
        width: 95%;
    }

    button {
        width: 100%;
    }
}
/* end of message style */

/* start of footer style */
footer {
    text-align: center;
}
/* end of footer style */